<ul>
  <h6>Style guide</h6>
  <li><a href = "globals.html" id = "nav-globals">Globals</a></li>
  <li><a href = "layout.html" id = "nav-layout">Layout</a></li>
  <li><a href = "buttons.html" id = "nav-buttons">Buttons</a></li>
  <li><a href = "cards.html" id = "nav-cards">Cards</a></li>
  <li><a href = "forms.html" id = "nav-forms">Forms</a></li>
  <li><a href = "prompts.html" id = "nav-prompts">Prompts</a></li>
  <li><a href = "lists.html" id = "nav-lists">Lists</a></li>
  <li><a href = "data.html" id = "nav-data">Data</a></li>
</ul>

<ul>
  <h6>Examples</h6>
  <li><a href = "examples.html" id = "examples">Examples</a></li>
</ul>

<ul class = "utils">
  <h6>Utils</h6>
  <li><a id = "toggle-code">Show Code</a></li>
  <li><a id = "toggle-theme">Change Theme</a></li>
</ul>
